*{
    margin: 0;
    box-sizing: border-box;
}

body{
    background: hsl(218, 28%, 13%);
    font-size: 14px;
}
.main-container{
    margin:0;
    width: 100%;
}

header{
    width: 100%;
    background-color: hsl(217, 28%, 15%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 3%;

}

.header-logo{
    max-width: 30%;
}

nav{
    width: 50%;
    padding:0;

}
.nav-links{
    list-style: none;
    padding:0;
    float: right;
}

.nav-links li {
    display: inline-block;
    margin:  0 5px;
}

nav ul li a{
    color: hsl(0, 0%, 100%);
    text-decoration: none;
    font-family:'Raleway', sans-serif;
}



.hero-container{
    background-image: url("images/bg-curvy-mobile.svg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;
    background-color: hsl(217, 28%, 15%);
    margin: 0px auto;
    width: 100%;
    padding: 10%;
}

.intro-img{
    display:block;
    width: 100%;
    margin: 0 auto 25%;
}

.intro-text-container{
    width: 80%;
    margin: -50px auto 0;
    text-align: center;
}

.intro-text{
    font-family:'Raleway', sans-serif; 
    font-size: 1.5rem;
    line-height: 1.5;
    color:hsl(0, 0%, 100%);
}

.intro-subtext{
    margin: 15px auto;
    padding: 2px;
    font-family:'Raleway', sans-serif; 
    font-size: 0.9rem;
    line-height: 1.5; 
    color:hsl(0, 0%, 100%);
}

.btn-1{
    -webkit-border-radius: 35;
        -moz-border-radius: 35;
        border-radius: 28px;
        font-family: 'Raleway', sans-serif;
        font-weight:700;
        color: #ffffff;
        background: #3498db;
        display: block;
        width: 50%;
        margin: 16px auto;
        padding: 15px 25px 15px 25px;
        text-decoration: none;
}

.products-desc{
    margin: 70px auto 50px;
    display: flex;
    flex-flow: column wrap;
}

.product-desc{
    text-align: center;
    margin:20px 0;
    padding: 20px;
}

.product-desc-img{
    margin: 10px 0 7px;
}

.product-desc-text{
    margin: 15px 0 10px;
    font-family:'Raleway', sans-serif; 
    font-weight: 700;
    color:hsl(0, 0%, 100%);
}

.product-desc-subtext{
    color: hsl(0, 0%, 100%);
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9rem;
    line-height: 1.5;
    padding: 10px; 
}

.additional-product-desc{
    margin: 0px auto;
    width: 100%;
}

.additional-product-desc-img-comtainer{
    margin: 0 auto;
    width:90%;
}

.additional-product-desc-img{
    margin: 0px auto;
    display: block;
    width: 100%;
}

.additional-product-desc-texts{
    width: 90%;
    margin: 30px auto;
}

.additional-product-desc-text{
    margin: 20px 0;
    font-family:'Raleway', sans-serif; 
    font-size: 1.2rem;
    line-height: 1.2;
    font-weight: 700;
    color:hsl(0, 0%, 100%); 
}

.additional-product-desc-subtext{
    margin: 20px 0 0px;
    color: hsl(0, 0%, 100%);
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 0.9rem;
    line-height:1.6;
}

.fylo-desc {
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    font-size: 0.85rem;
    color: hsl(176, 68%, 64%);
    display: inline-block;
    padding: 5px;
    border-bottom: 1.4px solid hsl(176, 68%, 64%);
}

.fylo-arrow-img{
    position: relative;
    top: 3px;
    left: 3px;
}

.testimonial-container{
    margin: 100px auto 0px;
    width: 80%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    background-color:  hsl(217, 28%, 15%);
    border-radius: 8px;
}

.testimonials{
    background-color:hsl(219, 30%, 18%);
    margin: 15px 0;
    padding: 20px;
    border-radius: 8px;
    width: 90%;
}

.testimonial-text{
    margin: 4px auto;
    color:hsl(0, 0%, 100%);
    font-family:'Raleway', sans-serif;
    font-size: 0.6rem;
    line-height: 1.7;
}

.testimonial-img{
    margin:15px 0;
    border-radius: 50%;
    width: 30px;
}

.client-name{
    position: relative;
    bottom: 30px;
    left: 8px;
    color: hsl(0, 0%, 100%);
    font-family:'Open  Sans', sans-serif;
    font-weight: 700;
    font-size: 0.8rem;
}

.client-role-1{
    font-family:'Open  Sans', sans-serif;
    font-weight: 400;
    font-size: 0.61rem;
    position: relative;
    bottom: 4px;
    right: 20px;
}

.client-role{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 0.7rem;
    margin-left: 34px;
}

.email-signup{
    background-color: hsl(217, 28%, 15%);
    margin: 2px auto;
    width: 90%;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    top:170px;
}

.email-signup-text{
    font-family: 'Raleway', sans-serif;
    font-size: 1.5rem;
    font-weight:700;
    color: hsl(0, 0%, 100%);
    margin: 15px 0;

}

.email-signup-subtext{
    margin: 0 0 15px;
    font-family: 'Raleway', sans-serif;
    font-weight:400;
    font-size: 0.95rem;
    line-height: 1.5;
    color: hsl(0, 0%, 100%);
}

.email-signup-info{
    margin: 0 0 8px;
    width: 90%;
    padding: 15px;
    border: none;
    border-radius:28px;
}

.btn-2{
    -webkit-border-radius: 35;
        -moz-border-radius: 35;
        border-radius: 28px;
        font-family: 'Raleway', sans-serif;
        font-weight:700;
        color: #ffffff;
        background: #3498db;
        display: block;
        width: 90%;
        margin: 16px auto;
        padding: 15px 25px 15px 25px;
        text-decoration: none;
}

.footer-container{
    margin: 30px 0 0;
    background-color:hsl(216, 53%, 9%);
    padding:  190px 0 40px;
}

.footer-logo{
    margin: 20px 20px;
}

.fylo-info-container{
    display: block;
}

.fylo-info-location{
    list-style-type: none;
    margin: 8px 20px ;
    padding: 0;
}

.fylo-location{
    background: url('images/icon-location.svg') no-repeat left top;
    background-position: 0 5px;
    color: hsl(0, 0%, 100%);
    font-size: 1rem;
    padding-left: 30px;
    line-height: 1.5;
}

.fylo-info-others{
    list-style-type: none;
    margin: 8px 20px ;
    padding: 4px 0;
}

.fylo-phone{
    background: url('images/icon-phone.svg') no-repeat left top;
    background-position: 0 5px;
    margin: 10px 0 0;
    color: hwb(0 100% 0%);
    font-size: 1rem;
    padding-left: 30px;
    line-height: 1.5;
}

.fylo-email{
    background: url('images/icon-email.svg') no-repeat left top;
    background-position: 0 5px;
    margin: 10px 0 0;
    color: hwb(0 100% 0%);
    font-size: 1rem;
    padding-left: 30px;
    line-height: 1.5;
}

.fylo-info-3{
    margin: 25px 0 0;
}

.fylo-info-3 ul{
    list-style: none;
}

.fylo-info-3 ul li{
    font-family:'Raleway', sans-serif;
    font-weight: 400; 
    margin: 20px 10px 0 -20px;
    color: hsl(0, 0%, 100%);
}

.fylo-info-4{
    margin: 40px 0 0;
}

.fylo-info-4 ul{
    list-style: none;
}

.fylo-info-4 ul li{
    font-family:'Raleway', sans-serif;
    font-weight: 400; 
    display: block;
    margin: 20px 15px 0 -20px;
    color: hsl(0, 0%, 100%);
}

.socials{
    margin: 20px auto 0;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

.social-icons{
    display: inline-block;
    color: hsl(0, 0%, 100%);
    border: 1px solid hsl(0, 0%, 100%);
    border-radius:50%;
    padding: 10px;
}

@media only screen and (min-width: 510px){
    header{
        padding: 20px 2%;
    }

    nav{
        width: 60%;
    }
    
    .nav-links li {
        margin:  0 15px;
    } 

    nav ul li a{
        font-size: 1.1rem;
    }

    .hero-container{
        background-image: url("images/bg-curvy-desktop.svg");
        background-repeat: no-repeat;
        background-position: bottom;
        margin: 0 auto 20px;
        padding:10px;

    }

    .intro-img{
        width: 60%;
        margin-right: unset;
        margin-left: unset;
        margin-top: unset;
        margin-bottom: unset;
    }

    .intro-text-container{
        width:55%;
        margin: 20px auto;
    }

    .products-desc{
        margin: 20px auto 50px;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
    }

    .product-desc > *{
        flex-basis: 100%;
    }

    .product-desc{
        width: 30%;
        margin: 40px;
    }

    .additional-product-desc{
        display: flex;
        flex-flow: row nowrap;
        padding: 2%;

    }

    .additional-product-desc-img-comtainer{
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .additional-product-desc-img{
        margin:0;
        width: 100%;
    }

    .additional-product-desc-texts{
        width: 50%;
        margin: 50px auto 0;
    }

    .additional-product-desc-text{
        margin: 20px 0; 
        font-size: 2rem;
        padding: 0 200px 0 55px;
        font-weight: 700;
        color:hsl(0, 0%, 100%); 
    }

    .additional-product-desc-subtext{
        padding: 20px 100px 0 55px;
        font-size: 0.9rem;
        line-height:1.6;
    }

    .fylo-desc {
        margin: 10px 100px 0 55px;    
    }

    .testimonial-container{
        width: 80%;
        display: flex;
        flex-flow: row nowrap;
        padding: 2px;
    }

    .testimonials{
        margin:15px;
        padding: 20px;
        flex-shrink:2;
    }

    .email-signup{
        width: 60%;
    }

    .response-form{
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        padding: 10px;
    }

    form{
        margin: 10px 0;
        width: 65%;
    }
    .email-signup-info{
        width: 100%;
        padding:22px;
    }

    .btn-2{
            width: 30%;
            font-size: 1rem;
            padding:15px 22px;
    }
    
    .footer-logo{
        margin:  10px 60px;
    }

    .fylo-info-container{
        margin:  0 40px;
        display:flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: flex-start;
    }

    .fylo-info-1{
        width: 30%;
    }

    .fylo-info-2{
        width: 25%;
        flex-grow: 1;
    }


    .fylo-info-3{
        width: 15%;
        margin-top: 0;
        flex-shrink: 2;
    }

    .fylo-info-3 ul{
        margin-top:0;
    }

    .fylo-info-4{
        width: 15%;
        margin-top: 0;
        flex-shrink: 2;
    }

    .socials{
        width: 15%;
        margin:0;
        flex-shrink: 2;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
    }

    .social-icons{
        margin: 0 5px;
    }

}



